{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, Anfal!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/c169.56.427.427/s50x50/10155703_10205997463120891_2078437673795409037_n.jpg?oh=a35e1954ffb4202a0210289a3ab0c7b0&oe=558D1378&__gda__=1432001117_036fc5af7ee35efa44312f32bb4b7a06"><br>
      <b>Anfal Boussayoud</b><br>
      10000000 followers
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->

      <h4> All Tweets </h4>
      
      {% if showForm %}

      <form action="/submit" id="myForm" method="POST">
      <label for="name_field">Name:</label>
      <input name="name" type="text" id="name_field" value="Anfal Boussayoud" />

      <label for="text_field">Text:</label>
      <input name="text" type="text" id="text_field" style="width: 350px;" />

      <input type="submit" value="Submit" />
      </form>

    
      {% endif %}
    


      {% for tweet in tweets %}

      <div id="div1">
      </div>

      <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p56x56/10671451_10204810743929596_4735238130703468857_n.jpg?oh=fe2b83fa5134328b506c38633b30f11b&oe=5589DB7A&__gda__=1431813905_a1d6e2a3e1847c32a803793c7a44132e"><br>
      
     
      <li><b><a href="/users/{{tweet.name}}">{{tweet.name}}</a></b></li>

      <li>{{ tweet.text }}</li>

      <a href ="#">Re-Tweet</a>
      <div class="clear"></div>

      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}